/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-height: 5em;
}

.navbar__brand {
  height: 4rem;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.redocusaurus .redoc-wrap {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

/* ------ Headings Overrides ------- */

.redocusaurus h2,h3,h4 {
  color: var(--ifm-font-color-base);
}

.redocusaurus h5 {
  color: var(--ifm-font-color-secondary) !important;
}

.redocusaurus h5 > span {
  color: var(--ifm-font-color-secondary) !important;
}

/* ------- Sidebar Overrides (Left Panel) ------- */

.redocusaurus .menu-content {
  border-right: 1px solid var(--ifm-toc-border-color);
}

/* Logo Background */
.redocusaurus .menu-content div:first-child {
  background-color: transparent !important;
}

/* ------- Right Panel Overrides ------- */

.redocusaurus code {
  color: var(--ifm-color-emphasis-100);
  padding: 0px;
}

html[data-theme="dark"] .redocusaurus code {
  color: var(--ifm-color-emphasis-900);
}

.redocusaurus ul > li.react-tabs__tab--selected:not(.tab-error):not(.tab-success) {
  color: #303846 !important;
}

/* ------ Schema Styling Overrides ------- */

.redocusaurus table th, table td {
  border: none;
}

.redocusaurus table:not(.security-details) td {
  border-bottom: none !important;
}

.redocusaurus table.security-details > tbody > tr  {
  color: var(--ifm-font-color);
}

.redocusaurus table.security-details tr {
  background-color: var(--ifm-background-color)
}

.redoc-wrap li[data-item-id*="/options"] {
  display: none
}

.api__region {
  padding: 0.5em 1em;
  background-color: #eee;
  text-align: right;
  font-weight: bold;
}

.api__region--label {
  margin-right: 0.5em;
}

.swagger-ui .info .title small pre.version {
  color: var(--ifm-font-color-base);
}

.swagger-ui .opblock {
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: none;
}

.swagger-ui .opblock.opblock-options {
  display: none;
}

.swagger-ui .opblock-summary-options {
  display: none;
  border: none;
}

section.block > .models {
  display: none;
}

a.navbar__item.navbar__link[href="https://bidjs.com"] {
  color: #999;
}
